{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "airbnb/base",
    "eslint:recommended"
  ],
  "rules": {
    "no-tabs": "off",
    "no-console": "off",
    "max-len": ["error", 180],
    "quotes": [
      "error", "double",
      {
        "allowTemplateLiterals": true
      }
    ]
  }
}
