

{{> common/header}}
<div class="container flex-grow-bottom" data-name-ban = "12">
    <main class="wrapper flex-grow-bottom content">
        <h2 class="admin__title">Панель администратора</h2>
        <a class="show-tables" style="padding: 10px; display: inline-block; align-self: center; background-color: lightgrey" href="tables">Вывести таблицы</a>
        <ul class="admin__list-of-sections"></ul>
        <div class="admin__records-wrapper"></div>
    </main>
</div>
{{> common/footer}}





