
{% extends "common/_base-layout.njk" %}


{% block content %}
    <div class="container flex-grow-bottom">
        <main class="wrapper flex-grow-bottom content">
            <h1>Hello1231</h1>
            <div id="app">
            </div>
        </main>
    </div>

{%  endblock %}