

{{> common/header}}
<div class="container flex-grow-bottom" data-name-ban = "12">
    <main class="wrapper flex-grow-bottom content">
        <h1>Select current quantity</h1>

        <div>
            <input class="range-quantity" type="range" min="1" max="10">
        </div>

        <div class="parent">
            <div class="text" style="height: 200px; background-color: lightgray">
                Start
            </div>
        </div>

        <pre id="mouse" tabindex="0" style="left: 8px; top: 57px; position: fixed;">
            (q\_/p)
             /. .\
            =\_t_/=   __
             /   \   (
            ((   ))   )
            /\) (/\  /
            \  Y  /-'
             nn^nn
            </pre>

        <table id="bagua-table">
            <tr>
                <th colspan="3">Квадрат <em>Bagua</em>: Направление, Элемент, Цвет, Значение</th>
            </tr>
            <tr>
                <td class="nw"><strong>Северо-Запад</strong>
                    <br>Металл
                    <br>Серебро
                    <br>Старейшины
                </td>
                <td class="n"><strong>Север</strong>
                    <br>Вода
                    <br>Синий
                    <br>Перемены
                </td>
                <td class="ne"><strong>Северо-Восток</strong>
                    <br>Земля
                    <br>Жёлтый
                    <br>Направление
                </td>
            </tr>
            <tr>
                <td class="w"><strong>Запад</strong>
                    <br>Металл
                    <br>Золото
                    <br>Молодость
                </td>
                <td class="c"><strong>Центр</strong>
                    <br>Всё
                    <br>Пурпурный
                    <br>Гармония
                </td>
                <td class="e"><strong>Восток</strong>
                    <br>Дерево
                    <br>Синий
                    <br>Будущее
                </td>
            </tr>
            <tr>
                <td class="sw"><strong>Юго-Запад</strong>
                    <br>Земля
                    <br>Коричневый
                    <br>Спокойствие
                </td>
                <td class="s"><strong>Юг</strong>
                    <br>Огонь
                    <br>Оранжевый
                    <br>Слава
                </td>
                <td class="se"><strong>Юго-Восток</strong>
                    <br>Дерево
                    <br>Зеленый
                    <br>Роман
                </td>
            </tr>

        </table>


<!--        <img src="assets/img/im.jpg" alt="image">-->

<!--        <div class="back-g"></div>-->

        <p class="font-test">Roboto</p>

        <div class="inner-list">

        </div>


<!--        <ul class="list-goods">-->
<!--            <li class="goods-item">-->
<!--                <span class="goods-desc">Phone 1</span>-->
<!--                <div class="wrapper-order">-->
<!--                    <input type="text" value="1" class="goods-quantity">-->
<!--                    <button class="btn-order-cart select-quantity">Choose</button>-->
<!--                    <button class="btn-order-cart delete-item">Delete</button>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li class="goods-item">-->
<!--                <span class="goods-desc">Phone 2</span>-->
<!--                <div class="wrapper-order">-->
<!--                    <input type="text" value="2" class="goods-quantity">-->
<!--                    <button class="btn-order-cart select-quantity">Choose</button>-->

<!--                    <button class="btn-order-cart delete-item">Delete</button>-->

<!--                </div>-->
<!--            </li>-->
<!--            <li class="goods-item">-->
<!--                <span class="goods-desc">Phone 3</span>-->
<!--                <div class="wrapper-order">-->
<!--                    <input type="text" value="3"  class="goods-quantity">-->
<!--                    <button class="btn-order-cart select-quantity">Choose</button>-->
<!--                    <button class="btn-order-cart delete-item">Delete</button>-->

<!--                </div>-->
<!--            </li>-->
<!--        </ul>-->


        <a class="page-link" href="page.html">Go to pages</a>
        <div style="padding: 20px; margin: 0 auto; width: 80%; background-color: lightblue; height: 200px">
        </div>
    </main>
</div>
{{> common/footer}}
{{> common/modals}}
{{> common/sprite}}




