

{{> common/header}}
<div class="container flex-grow-bottom">
    <main class="wrapper flex-grow-bottom content">

        <a class="page-link" href="page.html">Go to pages</a>
        {{#each phones}}
            <p>{{@key}} : price = {{this.price}}</p>
        {{/each}}


        <div class="app" style="padding: 20px; margin: 0 auto; width: 80%; background-color: lightblue; height: 200px">

        </div>
    </main>
</div>
{{> common/footer}}
{{> common/modals}}
{{> common/sprite}}




