

{{> common/header}}
<div class="container flex-grow-bottom" data-name-ban = "12">
    <main class="wrapper flex-grow-bottom content">


        {{#each phones}}
            <p>{{@key}} : price = {{this.price}}</p>
        {{/each}}


        <a class="page-link" href="page.html">Go to pages</a>
        <div style="padding: 20px; margin: 0 auto; width: 80%; background-color: lightblue; height: 200px">
        </div>
    </main>
</div>
{{> common/footer}}
{{> common/modals}}
{{> common/sprite}}




