
{% extends "common/_base-layout.njk" %}

{% block content %}
    <div class="container element-flex-grow" style="height: 6000px">
        <main class="wrapper element-flex-grow content">
            <h1>Content</h1>
        </main>
    </div>

{%  endblock %}