

{{> common/header}}
<div class="container flex-grow-bottom" data-name-ban = "12">
    <main class="wrapper flex-grow-bottom content">


        {{#each phones}}
            <p>{{@key}} : price = {{this.price}}</p>
        {{/each}}



        <div class="error" style="text-align: center; ">

        </div>

        <div class="result" style="margin: 10px auto 10px">

        </div>

        <div class="user-auth" style="padding: 10px;text-align: center; display: flex; justify-content: center">

        </div>

        <form class="form" action="/dist/data.php" name="auth-form" method="POST" >
            <input class="form__input" type="text" value="bob" name="login" id="login" maxlength="55" minlength="1" autocomplete="on" placeholder="Enter login..." required>
            <input class="form__input" type="password" value="1234" name="psw" id="psw" maxlength="55" minlength="1" autocomplete="on" placeholder="Enter psw..." required>
            <input class="form__submit" type="submit" name="auth-submit" value="Send">
        </form>




<!--        <img src="assets/img/im.jpg" alt="image">-->

<!--        <div class="back-g"></div>-->

        <div class="inner-list">

        </div>


<!--        <ul class="list-goods">-->
<!--            <li class="goods-item">-->
<!--                <span class="goods-desc">Phone 1</span>-->
<!--                <div class="wrapper-order">-->
<!--                    <input type="text" value="1" class="goods-quantity">-->
<!--                    <button class="btn-order-cart select-quantity">Choose</button>-->
<!--                    <button class="btn-order-cart delete-item">Delete</button>-->
<!--                </div>-->
<!--            </li>-->
<!--            <li class="goods-item">-->
<!--                <span class="goods-desc">Phone 2</span>-->
<!--                <div class="wrapper-order">-->
<!--                    <input type="text" value="2" class="goods-quantity">-->
<!--                    <button class="btn-order-cart select-quantity">Choose</button>-->

<!--                    <button class="btn-order-cart delete-item">Delete</button>-->

<!--                </div>-->
<!--            </li>-->
<!--            <li class="goods-item">-->
<!--                <span class="goods-desc">Phone 3</span>-->
<!--                <div class="wrapper-order">-->
<!--                    <input type="text" value="3"  class="goods-quantity">-->
<!--                    <button class="btn-order-cart select-quantity">Choose</button>-->
<!--                    <button class="btn-order-cart delete-item">Delete</button>-->

<!--                </div>-->
<!--            </li>-->
<!--        </ul>-->


        <a class="page-link" href="page.html">Go to pages</a>
        <div style="padding: 20px; margin: 0 auto; width: 80%; background-color: lightblue; height: 200px">
        </div>
    </main>
</div>
{{> common/footer}}
{{> common/modals}}
{{> common/sprite}}




