

{{> common/header}}
<div class="container flex-grow-bottom">
    <main class="wrapper flex-grow-bottom content">
        <h1>Content</h1>
        <a class="" href="page.html">Go to page</a>
        <div class="back-g"></div>
<!--        <img src="./img/68778702_327427475.jpg" alt="image">-->
    </main>
</div>
{{> common/footer}}
{{> common/modals}}
{{> common/sprite}}




