
.admin__title, .admin__table-title, .admin__title-of-element, .admin__sections-title {
  font-weight: 300;
}


.admin__list-of-sections {
  display: flex;
  padding: 20px 10px;
  flex-wrap: wrap;
  justify-content: center;

  & > *:not(first-child) {
    margin-right: 10px;
  }
}


.admin__btn {
  padding: 5px 10px;
  font-size: 18px;
  color: white;
  border-radius: 5px;
  background-color: red;
  transition: all 0.3s ease;

  &:hover {
    border-radius: 8px;
    background-color: #de001e;
  }
}

.admin__delete-item-btn {
  margin-left: 15px;
}

.admin__table {

}


.tables {
  padding: 20px 15px;
}

.admin__add-item-btn {
  align-self: center;
}


.admin__list-of-records {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto 30px;

}


.admin__list-of-records li {
  min-width: 210px;
  padding: 10px 20px;
  word-break: break-all;
  @include generate-columns-for-item(3);
  @media (max-width: 960px) {
    @include generate-columns-for-item(4);
  }
  @media (max-width: 760px) {
    @include generate-columns-for-item(6);
  }


  border: 1px solid lightgrey;
  -moz-box-shadow: 10px 10px 22px -12px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 22px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 22px -12px rgba(0, 0, 0, 0.75);
  transition: all 0.4s linear;

}


.admin__new-elem-form {
  display: flex;
  flex-direction: column;


  & > div:not(:last-child) {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    & > label {
      padding-right: 15px;
    }

    & > input {
      margin-left: auto;
    }
  }
}


.admin__form-wrapper {
  max-width: 70%;
  margin: 30px auto 30px;
  padding: 20px;
  border: 1px solid lightgrey;

  -moz-box-shadow: 10px 10px 22px -12px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 22px -12px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 22px -12px rgba(0, 0, 0, 0.75);


}

.admin__title-of-element {
  margin-top: 0;

}

.admin__form-input {
  padding: 5px 15px 5px 10px;
  font-size: 16px;
  border-radius: 5px;
}

.admin__form-file, .admin__form-input, .admin__form-submit {
  align-self: center;
}

.admin__form-file {
  display: flex;
  flex-direction: column;

  & > * {
    align-self: center;
    padding-bottom: 10px;
  }

}

.admin__form-submit {
  padding: 5px 25px;
  border-radius: 5px;

  &:hover {
    background-color: lightgrey;

  }

}











