<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Title</title>
    <meta name="description" content="web application">
    <meta name="keywords" content="web application">

    <meta name="robots" content="index,follow,noodp">
    <meta name="googlebot" content="index,follow">
    <link rel="shortcut icon" type="image/x-icon" href="">
</head>
<body>

<div class="container">
    <header class="wrapper">
        <nav class="nav">
            <a class="nav__item" href="#">item 1</a>
            <a class="nav__item" href="#">item 2</a>
            <a class="nav__item" href="#">item 3</a>
        </nav>
    </header>
</div>