
@font-face {
  font-family: "";
  src:  local(""),
        url("#{$font_dir}/FONT__NAME.eot?#iefix") format("embedded-opentype"),
        url("#{$font_dir}/FONT__NAME.woff") format("woff"),
        url("#{$font_dir}/FONT__NAME.woff2") format("woff2"),
        url("#{$font_dir}/FONT__NAME.ttf") format("truetype");

  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "";
  src:  local(""),
  url("#{$font_dir}/FONT__NAME.eot?#iefix") format("embedded-opentype"),
  url("#{$font_dir}/FONT__NAME.woff") format("woff"),
  url("#{$font_dir}/FONT__NAME.woff2") format("woff2"),
  url("#{$font_dir}/FONT__NAME.ttf") format("truetype");

  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "";
  src:  local(""),
  url("#{$font_dir}/FONT__NAME.eot?#iefix") format("embedded-opentype"),
  url("#{$font_dir}/FONT__NAME.woff") format("woff"),
  url("#{$font_dir}/FONT__NAME.woff2") format("woff2"),
  url("#{$font_dir}/FONT__NAME.ttf") format("truetype");

  font-weight: 700;
  font-style: normal;
  font-display: swap;
}









