
$img_dir : "/src/assets/img";
$font_dir : "/src/assets/fonts";
$tpl_dir : "/src/assets/tpl";

$wrapper-max-width : 1200px;

$modal-max-width: 600px;
$modal-overlay-z-index: 9;
$modal-inner-z-index: 10;


$black: #000000;
$white: #ffffff;

$main-text-color: $black;
$second-text-color: $white;

$link-color: $white;


$screen-sm: 480px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1800px;

$grid-columns: 12 !default;
$grid-gutter-width: 30px !default;


$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;





















