<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Title</title>
    <meta name="description" content="web application">
    <meta name="keywords" content="web application">

    <meta name="robots" content="index,follow,noodp">
    <meta name="googlebot" content="index,follow">

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <link rel="stylesheet" href="/src/assets/scss/main.css">
    <script type="module" src="/src/assets/js/main.js" defer></script>
    <!-- inject:css -->
    <!-- endinject -->
</head>
<body>

    {% include "common/_header.njk" %}

    {% block content %}{% endblock %}

    {% include "common/_footer.njk" %}

    {% include "common/_modals.njk" %}

    {% include "common/_sprite.njk" %}


    <!-- inject:js -->
    <!-- endinject -->
</body>
</html>