

<div class="container">
    <header class="wrapper">
        <nav class="nav">
            <a class="nav__item" href="#">item 1</a>
            <a class="nav__item" href="#">item 2</a>
            <a class="nav__item" href="#">item 3</a>
        </nav>
    </header>
</div>
